<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="linux_db" connectionString="Data Source=file:/home/andreiva/LinuxWin/Uni/Sem2/MPP/Lab/CommonResources/ConcursMotociclism.sqlite" />
        <add name="windows_db" connectionString="Data Source=file:D:/Uni/Sem2/MPP/Lab/CommonResources/ConcursMotociclism.sqlite" />
    </connectionStrings>
    <appSettings>
        <add key="port" value="9898" />
        <add key="host" value="127.0.0.1" />
    </appSettings>
</configuration>