<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="linux" connectionString="Data Source=file:/home/andreiva/LinuxWin/Uni/Sem2/MPP/Lab/CommonResources/ConcursMotociclism.sqlite" />
        <add name="windows" connectionString="Data Source=file:D:/Uni/Sem2/MPP/Lab/CommonResources/ConcursMotociclism.sqlite" />
    </connectionStrings>
</configuration>